body{
    font-family: arial, sans-serif;
    background: #ccc;
    margin: 0;
}

.hero{
    background-image: url(../imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent; /*Para remover a quebra da margem superior*/
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 2px 2px 2px #333;
}

.hero-content a{
    background-color: rgba(0,0,0,.6);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
    text-decoration: none;
    color: white;
}

.hero-content a:hover{
    background: rgba(0,0,0,0.2);
}

.hero nav ul{
    text-align: right;
    margin: 20px 30px 0 0;
}

.hero-li{
    display:inline-block;
    list-style: none;
    border: 1px solid white;
}

.hero nav a{
    background: rgba(0,0,0,0.3); /*Define a transparência do conteúdo*/
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

.hero nav a:hover{
    background: rgba(0,0,0,0.2); /*Define a transparência do conteúdo durante o hover do mouse sobre o botao*/
}

main{
    width: 80%;
    margin: auto;
}

.content-section-card{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;

}

.card{
    width: 32%;
    float: left;
}

.card1, .card2{
    margin-right: 2%;
}

.card img{
    width: 100%;
    display: block;
}

.card p{
    background-color: rgb(97, 95, 95);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    margin: 0;
    letter-spacing: 2px;
}

.content-section{
    background-color: white;
    padding: 0px 10px 10px 10px;
    margin-top: 15px;
    overflow: auto;
}

.content-section h2{
    background-color: rgb(211, 211, 211);
    padding: 8px;
    border-bottom: 2px solid rgb(151, 151, 151);
}

footer{
    background-color: rgb(95, 95, 95);
    margin-bottom: 0;
    height: 80px;
}

footer p{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    line-height: 80px; /*line height na mesma altura da caixa para centralizar */
}